<a href="https://colab.research.google.com/github/zahpyoil/Complete-Python-3-Bootcamp/blob/master/TRAIN_AWS_P1_Lab_0_%5BSOLUTIONS%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab 0: Introduction to Python and Google Colab**
---

Now that you have a [basic](https://docs.google.com/document/d/1eY8fYNByjdxW4pGMtRwOfaSOudFu9cMQn86uE1gAk1c/edit#) understanding of Python programming, let's apply these concepts to some lab work.

## **Part 1: The print function, Variables, and Arithmetic**
---

#### **Exercise #1:** Print out the phrase "Hello, my name is ___" with your name.

##### **Solution:**

In [ ]:
print("Hello, my name is Adam")

#### **Exercise #2:** Print out the result of adding 2 + 3.0.

##### **Solution:**

In [ ]:
print(2 + 3.0)

#### **Exercise #3:** Make a variable called `favorite_animal` and store the name of your favorite animal in it. Then print it out.

##### **Solution:**

In [ ]:
favorite_animal = "octopus"
print(favorite_animal)

#### **Exercise #4:** Complete the code below so that it calculates and prints your age in days.

In [ ]:
my_age = #add age in years here
days_in_year = 365

age_in_days = #add calculation here
print(age_in_days)

##### **Solution:**

In [ ]:
my_age = 27
days_in_year = 365

age_in_days = my_age * days_in_year
print(age_in_days)

#### **Exercise #5:** Complete the code below so that it calculates and prints the sentence "I am [age_in_decades] decades old"

In [ ]:
my_age = #add age in years here
years_in_decade = # complete this line

age_in_decades = my_age / years_in_decade
print("I am " + #complete this line)

##### **Solution:**

In [ ]:
my_age = 27
years_in_decade = 10

age_in_decades = my_age / years_in_decade
print("I am " + str(age_in_decades) + " decades old")

## **Part 2: Comparisons**
---

#### **Exercise #1:** Print the result of testing if 3 is greater than 5.

##### **Solution:**

In [ ]:
print(3 > 5)

#### **Exercise #2:** Change the values below to make the output True.

In [ ]:
print(14 != 14)

##### **Solution:**

In [ ]:
# many solutions to this one! here are two:
print(14 == 14)
print(14 != 15)

#### **Exercise #3:** Write code to test if the two variables are equal to each other and print the result.

In [ ]:
x = "hi world"
y = "hello world"

#add code here

##### **Solution:**

In [ ]:
x = "hi world"
y = "hello world"

print(x == y)

#### **Exercise #4:** Write code that tests if your baggage weight is less than the limit and prints the sentence, "Your bag is under the limit: [result of comparison]".

In [ ]:
bag_weight = 12
weight_limit = 12.5

# add code here

##### **Solution:**

In [ ]:
bag_weight = 12
weight_limit = 12.5

print("Your bag is under the limit: " + str(bag_weight < weight_limit))

## **Part 3: Lists**
---

#### **Exercise #1:** Print the word "Howdy!" using the provided list.

In [ ]:
phrases = ["Hi", "Hello", "Howdy", "Hiya"]

##### **Solution:**

In [ ]:
phrases = ["Hi", "Hello", "Howdy", "Hiya"]
print(phrases[2])

#### **Exercise #2:** Complete the code below so that the following is printed:
1

0

2

In [ ]:
my_list = [0, 3, 1, 2]

##### **Solution:**

In [ ]:
my_list = [0, 3, 1, 2]
print(my_list[2])
print(my_list[0])
print(my_list[3])

1
0
2

#### **Exercise #3:** Add the element 2.8 to this list using append and print the updated list.

In [ ]:
my_list = [1.4]

##### **Solution:**

In [ ]:
my_list = [1.4]
my_list.append(2.8)
print(my_list)

#### **Exercise #4:** Now, add the element 4.2 to this list  twice using append and print the updated list.

##### **Solution:**

In [ ]:
my_list = [1.4, 2.8]
my_list.append(4.2)
my_list.append(4.2)
print(my_list)

#### **Exercise #5:** Remove 1.4 from this list and print the updated list.

##### **Solution:**

In [ ]:
my_list = [1.4, 2.8, 4.2, 4.2]
my_list.remove(1.4)
print(my_list)

#### **Exercise #6:** Change the 0th element to be the string "floats" and print the list.

##### **Solution:**

In [ ]:
my_list = [1.4, 2.8]
my_list[0] = "floats"
print(my_list)

['floats', 2.8]

## **Part 4: General Practice**
---

#### **Exercise #1:** What value will be printed in the code below?

```python
num_keys = 2
num_locks = 5

has_enough_keys = num_keys >= num_locks
print("I have enough keys: " + str(has_enough_keys))

```

###### **Solution:** It will print "I have enough keys: False" since `num_keys` is not `>=` `num_locks`.

#### **Exercise #2:** Complete the code below so that the list contains only even numbers and print the updated list.

In [ ]:
evens = [1, 2, 3, 4]

###### **Solution:**

In [ ]:
evens = [1, 2, 3, 4]
evens.remove(1)
evens.remove(3)

print(evens)

[2, 4]

#### **Exercise #3:** Correct the code below so that the resulting list is: [1, 2, 3, 4, 5] and prints the updated list.

In [ ]:
num_list = [1, 2, 3, 4]
num_list[0] = 5

print(num_list)

###### **Solution:**

In [ ]:
num_list = [1, 2, 3, 4]
num_list.append(5)

print(num_list)

# End of Notebook

---
Â© 2023 The Coding School, All rights reserved